@model WebApplication2.Models.GetIdusers

<h4>Id User</h4>
    <hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Username)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Username)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Firstname)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Firstname)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.GroupName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.GroupName)
    </dd>
</dl>
@Html.ActionLink("Back to List", "LocalUsers")

